catalog
{
background-color: white;
width: 100%;
}
book
{
display: block;
margin-bottom: 30pt;
margin-left: 0;
}
author
{
color: #FF0000;
font-size: 20pt;
}
title
{
color: #0000FF;
font-size: 20pt;
}
genre
{
display: block;
color: #000000;
margin-left: 20pt;
}
price
{
display: block;
color: #000000;
margin-left: 20pt;
}
publish_date
{
display: block;
color: #000000;
margin-left: 20pt;
}
description
{
display: block;
color: #000000;
margin-left: 20pt;
}